server:
  port: 8080

spring:
  profiles:
    active: dev
  main:
    allow-circular-references: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    druid:
      driver-class-name: ${sky.datasource.driver-class-name}
      url: jdbc:mysql://${sky.datasource.host}:${sky.datasource.port}/${sky.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      username: ${sky.datasource.username}
      password: ${sky.datasource.password}



# MyBatis / MyBatis Plus 配置
mybatis-plus:
  # 映射文件位置 (注意：如果是 MyBatis Plus，这里改用 mybatis-plus)
  mapper-locations: classpath:mapper/*.xml
  configuration:
    # 开启驼峰命名映射 (user_name -> userName)
    map-underscore-to-camel-case: true
    # 打印 SQL 日志 (方便调试)
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  type-aliases-package: com.sky.entity

logging:
  level:
    com:
      sky:
        mapper: debug
        service: info
        controller: info

sky:
  jwt:
    # 设置jwt签名加密时使用的秘钥
    admin-secret-key: itcast
    # 设置jwt过期时间
    admin-ttl: 7200000
    # 设置前端传递过来的令牌名称
    admin-token-name: token
